.class1 {
    background-color: rgba(45, 112, 83, 1);
    width: 752px;
    height: 237px;
}
.round {
    background-color: rgba(255, 255, 255, 1);
    width: 144px;
    height: 144px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 37px;
    margin-top: 46px;
}
.text1 {
    width: 134px;
    height: 131px;
    font-family: adobeinvisfont;
    font-size: 30px;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 57px;
    margin-top: 53px;
}
.line {
    display: inline-block;
    width: 87px;
    height: 15px;
    margin-bottom: 13px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 7px;
}
.list {
    display: inline-block;
    float: right;
    list-style-type: none;
    margin-top: 83px;
    margin-right: 44px;
    width: 87px;
}
.image {
    background-image: url("./room.jpg");
    width: 752px;
    height: 465px;
}
.appointment {
    display: inline-block;
    width: 344px;
    height: 77px;
    background-color: rgba(203, 146, 35, 1);
    margin-left: 195px;
    margin-top: 368px;
}
.text2 {
    font-size: 21px;
    width: 251px;
    height: 17px;
    font-family: adobeinvisfont;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 28px;
    margin-left: 46px;
}
.block2 {
    width: 752px;
    height: 360px;
}
.photo {
    width: 247px;
    height: 247px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 36px;
    margin-right: 10px;
    display: inline-block;
}
.text3 {
    font-size: 33px;
    width: 210px;
    height: 30px;
    font-family: adobeinvisfont;
    color: #000000;
    display: inline-block;
    margin-right: 100px;
    margin-top: 10px;
    margin-left: 66px;
}
.text4 {
    font-size: 24px;
    width: 245px;
    height: 50px;
    font-family: adobeinvisfont;
    color: #000000;
    display: inline-block;
}
.text5 {
    font-size: 24px;
    width: 590px;
    height: 166px;
    font-family: adobeinvisfont;
    color: #000000;
    display: inline-block;
    margin-left: 44px;
    margin-top: 10px;}
.text6 {

}

/* .container {
    width: 100%;
    float: right;
}
.img-container{
    display: inline-block;
}
.text-block{
    display: inline-block;
    padding-bottom: 100px;
} */

.container {
    display: flex;
    width: 100%;
}

.text-block {
    padding-left: 50px;
}